@import "./Global.scss";

html {
  background: $pearl;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  font-family: "IBM Plex Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .navbar {
    background: $pearl;
    width: 100%;
    height: $navHeight;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .logo {
      position: relative;
      height: 100%;
    }

    &-logo {
      height: 100%;
    }
    &-nav {
      a {
        color: black;
        + a {
          padding-left: 3em;
        }
        &.is-active {
          color: $coral;
          text-decoration-color: $lagoon;
          font-weight: bold;
        }
      }
    }
    .menu-mobile {
      display: none;
      @include mobile {
        display: block;
      }
    }

    ul {
      button {
        display: none;
      }
      @include mobile {
        position: absolute;
        top: 0;
        right: -50vmin;
        height: 100vh;
        width: 50vmin;
        display: grid;
        align-content: center;
        justify-content: center;
        grid-gap: 10vmin;
        background-color: $sun;
        transition: all 0.5s ease-in-out;
        box-shadow: 5px 5px 5px 5px rgba(black, 0.5);
        button {
          display: block;
          position: absolute;
          top: 2.5vmin;
          left: 25vmin;
          transform: translateX(-50%);
        }

        &.active {
          right: 0;
        }
        a {
          padding: 0;
        }
      }
    }
  }

  .sections {
    width: 100%;
    position: relative;
    top: $navHeight;
    background-color: $pearl;
  }
}

.fade-enter,
.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.6s ease opacity;
}
.fade-enter,
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  z-index: 1;
}
